<form action="{{ routes.search_url }}" class="flex gap-4 w-full {{ class }}">
  <input
    type="search"
    name="q"
    value="{{ search.terms }}"
    class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-dashed focus:shadow-outline">
  <button class="whitespace-nowrap text-base text-gray-500 hover:text-gray-900">{% render 'icon-search' %}</button>
</form>