{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 80,
  "overrides": [
    {
      "files": "*.liquid",
      "options": {
        "parser": "liquid"
      }
    }
  ]
}
