<style>
  .collection-wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    column-gap: 40px;
    row-gap: 50px;
  }

  .collection-wrapper > div:first-child {
    grid-column: 1/-1;
  }
</style>

{% assign products_per_page = section.settings.products_per_page %}

<div>
  {% paginate collection.products by products_per_page %}
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
      {% for product in collection.products %}
        {% render 'product-card'
          , product: product %}
      {% else %}
        <p>No products matches</p>
      {% endfor %}
    </div>
    {% if paginate.pages > 1 %}
      {% render 'pagination'
        , pagination: paginate %}
    {% endif %}
  {% endpaginate %}

</div>

{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "type": "range",
        "id": "products_per_page",
        "label": "Number of products per page",
        "step": 1,
        "min": 1,
        "max": 15,
        "default": 5
      }
    ]
  }
{% endschema %}