{% assign products_per_page = section.settings.products_per_page %}

<div class="max-w-6xl m-auto mt-8 px-4">
    <a class="text-base text-gray-500 hover:underline mb-4" href="{{ routes.collections_url }}">Go back to collections</a>
  <h1 class="text-3xl font-bold text-center">{{ collection.title }}</h1>

  {% paginate collection.products by products_per_page %}
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-12">
      {% for product in collection.products %}
        {% render 'product-card'
          , product: product %}
      {% else %}
        <p>no matches</p>
      {% endfor %}
    </div>
    {% if paginate.pages > 1 %}
      {% render 'pagination'
        , pagination: paginate %}
    {% endif %}
  {% endpaginate %}

</div>

{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "type": "range",
        "id": "products_per_page",
        "label": "Number of products per page",
        "step": 1,
        "min": 1,
        "max": 15,
        "default": 5
      }
    ]
  }
{% endschema %}