<style>
  .collection-wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    row-gap: 20px;
    column-gap: 40px;
  }

    .collection-wrapper > div:first-child {
      grid-column: 1/-1;
    }

  @media (max-width: 860px) {
    .collection-wrapper {
      grid-template-columns: 1fr;
    }
  }
</style>

{% assign products_per_page = section.settings.products_per_page %}

<div>
  <h1 class="text-3xl font-bold text-center">{{ collection.title }}</h1>

  {% render 'search', class: 'mt-4' %}

  {% paginate collection.products by products_per_page %}
    <div class="product-grid mt-5 grid md:grid-cols-2 lg:grid-cols-3 max-860:grid-cols-3 max-720:grid-cols-2 max-380:grid-cols-1 gap-6 max-720:gap-4">
      {% for product in collection.products %}
        {% render 'product-card'
          , product: product %}
      {% else %}
        <p>No products matches</p>
      {% endfor %}
    </div>
    
      {% render 'pagination'
        , pagination: paginate %}
  {% endpaginate %}

</div>

{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "type": "range",
        "id": "products_per_page",
        "label": "Number of products per page",
        "step": 1,
        "min": 1,
        "max": 15,
        "default": 5
      }
    ]
  }
{% endschema %}