<div class="max-w-6xl mx-auto mt-8 py-4 px-4">
  <div class="grid grid-cols-1 md:grid-cols-3 items-center gap-5">
    <h1 class="text-center md:text-left text-3xl font-bold">Addresses</h1>
    <button class="justify-self-center bg-gray-900 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline ">Create new address</button>
    <a href="{{ routes.account_url }}" class="text-center md:text-right text-blue-600 hover:underline">Back to account</a>
  </div>

  {% paginate customer.addresses by 2 %}
    <div class="grid grid-cols-1 md:grid-cols-4 gap-5 mt-10">
      {% for address in customer.addresses %}
        <div class="flex flex-col border border-gray-300 p-2">
          {% if address == customer.default_address %}
            <span class="block bg-green-600 px-3 py-1 text-center text-sm text-white mb-4">Default</span>
          {% endif %}
          <div class="text-center mb-4">
            {{ address | format_address }}
          </div>

          <div class="grid grid-cols-2 gap-2 mt-auto">
            <button class="bg-gray-900 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-sm">Edit</button>
            <button class="h-[36px] bg-white border border-gray-400 hover:border-gray-800 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-sm">Delete</button>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="mt-8">
      {% render "pagination"s
        , pagination: paginate %}
    </div>
  {% endpaginate %}
</div>


{% comment %} <h2>New Address</h2>
    {% form 'customer_address', customer.new_address %}

    {{ form.errors | default_errors }}

    <label for="first_name">First Name</label>
    <input type="text" value="" name="address[first_name]" size="30" />

    <label for="last_name">Last Name</label>
    <input type="text" value="" name="address[last_name]" size="30" />

    <label for="company">Company</label>
    <input type="text" value="" name="address[company]" />

    <label for="address1">Address 1</label>
    <input type="text" value="" name="address[address1]" />

    <label for="address2">Address 2</label>
    <input type="text" value="" name="address[address2]" />

    <label for="city">City</label>
    <input type="text" value="" name="address[city]" />

    <!-- See docs for @shopify/theme-addresses to support Country and Province -->
    <label for="country">Country</label>
    <select name="address[country]" /></select>

    <label for="province">Province</label>
    <select name="address[province]" /></select>

    <label for="zip">Zip/Post Code</label>
    <input type="text" value="" name="address[zip]" />

    <label for="phone">Phone Number</label>
    <input type="tel" value="" name="address[phone]" />

{% endform %} {% endcomment %}